<!DOCTYPE html>
<html>

<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/styles/transaction-history.css">
</head>

<body>
    <a href="/" class="back-to-home-btn">
        <img src="/assets/back-to-home.jpeg" alt="Back to Home" width="60" height="60">
    </a>
    <header>
        <div class="container">
            <div class="logo-container">
                <img src="/assets/Yarkania logo 1.png" alt="Shuki's Yarkania Logo" class="logo-img">
            </div>
        </div>
    </header>
    <section class="text-center">
        <h2>Shuki's Yarkania</h2>
        <p>Your Transaction History!</p>
        <div id="cart-items" class="cart-container">
            <!-- Cart items will be inserted here dynamically -->
        </div>
    </section>
    <div class="table-container">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-2">Order number</div>
            <div class="col col-3">Date</div>
            <div class="col col-4">Time</div>
            <div class="col col-5" data-label="Total Price">Total</div>
          </li>
          <li class="table-row">
            <div class="col col-2" data-label="Order Number">14025</div>
            <div class="col col-3" data-label="Date">12.2.2023</div>
            <div class="col col-4" data-label="Time">11:38</div>
            <div class="col col-5" data-label="Total Price">112.49$</div>
          </li>
          <li class="table-row">
            <div class="col col-2" data-label="Order Number">14305</div>
            <div class="col col-3" data-label="Date">19.2.2023</div>
            <div class="col col-4" data-label="Time">12:40</div>
            <div class="col col-5" data-label="Total Price">98.69$</div>
          </li>
          <li class="table-row">
            <div class="col col-2" data-label="Order Number">14396</div>
            <div class="col col-3" data-label="Date">3.3.2023</div>
            <div class="col col-4" data-label="Time">12:12</div>
            <div class="col col-5" data-label="Total Price">104.81$</div>
          </li>
          <li class="table-row">
            <div class="col col-2" data-label="Order Number">14512</div>
            <div class="col col-3" data-label="Date">28.3.2023</div>
            <div class="col col-4" data-label="Time">13:01</div>
            <div class="col col-5" data-label="Total Price">71.32$</div>
          </li>
        </ul>
      </div>
    <main>


    </main>


    <script src="/backend/routes/carts.js"></script>
</body>

</html>