body {
  background-image: url("/assets/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color: #ffffff;
  padding: 10px;
  position: relative;
  margin-top: -4.5%;

}

.cart-container {
  margin-top: 5%;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.cart-text {
  display: block;
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-top: 5px;
}

.cart-btn img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-container img {
  width: 250px;
  height: auto;
}

main {
  margin-top: 130px;
}

section {
  padding: 20px;
  text-align: center;
}

h2,
p {
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.left-navbar {
  position: fixed;
  left: 5px;
  top: 87%;
  transform: translateY(-50%);
}

.right-navbar {
  position: fixed;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
}

nav {
  background-color: #333;
  padding: 20px;
  color: #fff;
  height: 60px;
  margin-top: -72%;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #333;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card-img-top {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.welcome-message {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.logo2-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-top: -5%;
}

.logo2-container img {
  width: 350px;
  height: auto;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.navButtons {
  cursor: pointer;
  position: relative;
}

.submenu {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #333;
  top: 100%;
  left: 0;
}

.navButtons:hover .submenu {
  display: block;
}

.submenu li {
  display: none;
}

.navButtons:hover .submenu li {
  display: block;
}

.submenu li a {
  color: #fff;
  padding: 5px;
  display: block;
}
