header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
  }
  
  .back-to-home-btn img {
    width: 110px;
    height: 70px;
  }
  
  .logo2-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: -5%;
  }
  
  .logo2-container img {
    width: 250px;
    height: auto;
  }
  
  .opening-hours {
    text-align: center;
    padding: 10px;
    margin-top: -4%;
  }
  
  #map {
    margin-top: 5%;
    height: 350px;
    width: 100%;
  }
  .map-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -30%;
    margin-left: 0%;
}
  